@charset "utf-8";

@import url("./reset.css");
@import url("./font.css");

/* COMMON */
.blind {
  display: block;
  position: absolute;
  top: -99999px;
  left: 0;
}
.clearFix::after {
  content: "";
  display: block;
  clear: both;
}
.center {
  position: relative;
  width: 100%;
  max-width: 1024px;
  /* min-width: ; */
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

button {
  border: none;
}

.page-btn-wrap,
.login-btn-wrap,
.join-btn-wrap {
  margin: 40px 0 30px;
  text-align: center;
}
.btn-wrap > a,
.btn-wrap > button {
  display: inline-block;
  line-height: 2.9em;
  padding: 1px 2.2em 0;
  margin: 0 14px;
  background-color: rgb(0, 55, 100);
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.btn-wrap > .btn:hover,
.btn-wrap > button:hover {
  background-color: rgb(0, 40, 80);
}

.input-wrap > label {
  display: block;
}
input[type="text"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  border: none;
  background-color: #f2f5f8;
  line-height: 44px;
  font-size: 15px;
  vertical-align: top;
  text-indent: 15px;
}

/** WRAP **/
#wrap {
}

/** HEADER **/
header {
  position: relative;
  padding: 0 14px;
}
.header-inner {
  text-align: right;
}
h1.logo {
  width: 140px;
  margin-top: 14px;
}

/** MAIN **/
#main {
  padding: 14px 14px 20px;
}
.section-page-top {
  margin-bottom: 34px;
}
h2.page-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.section-inner {
  padding: 0 14px;
  line-height: 1.4;
}

.page-btn-wrap {
  width: 100%;
}

/** index.html **/
.section-greeting {
  padding: 0 40px;
}
.section-greeting > .para-wrap-greeting {
  padding: 34px 34px 44px;
  margin-bottom: 20px;
  background-color: #f2f5f8;
}

.section-greeting .para-item {
  margin-bottom: 24px;
}
.section-greeting .para-item:last-child {
  margin-bottom: 0;
}

.info-organization-wrap {
  display: flex;
  justify-content: flex-end;
}
.info-organization-wrap > .info-wrap-inner {
  display: flex;
  flex-direction: column;
}
.info-organization-wrap .info-item {
  margin-bottom: 14px;
  text-align: left;
}
.info-organization-wrap .info-item:last-child {
  margin-bottom: 0;
}
.info-organization-wrap .info-item-title {
  margin-right: 6px;
}
.info-organization-wrap .info-item-logo {
  vertical-align: middle;
}
.info-organization-wrap .info-item-logo img {
  width: 120px;
}
.info-organization-wrap .info-item-name {
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
  color: #666;
}

/** login.html **/
.login-form fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form fieldset > * {
  width: 40%;
}
.login-form label {
  font-size: 0;
  height: 44px;
  margin-bottom: 20px;
}
.login-form label:last-child {
  margin-bottom: 0;
}
.login-form label > .input-icon {
  display: inline-block;
  width: 38px;
  height: inherit;
  margin-right: 12px;
  vertical-align: top;
  background-image: url("../img/icon/icon-user.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.login-form label > .input-icon.icon-hpnum {
  background-image: url("../img/icon/icon-hp.svg");
}
.login-form label > .input-icon.icon-pw {
  background-image: url("../img/icon/icon-lock.svg");
}

.login-form label > input {
  width: calc(100% - 50px);
  border: none;
  background-color: #f2f5f8;
  line-height: 44px;
  font-size: 15px;
  vertical-align: top;
  text-indent: 15px;
}

.login-option-wrap {
  margin-top: 14px;
  text-align: right;
}
.login-option-wrap .login-option {
  display: inline-block;
  position: relative;
  padding-left: 16px;
  margin-left: 15px;
  font-size: 14px;
  color: #888;
}
.login-option-wrap .login-option::before {
  content: "";
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
.login-option-wrap .login-option:first-child::before {
  display: none;
}

/** JOIN.html **/
.section-join .login-form .input-label {
  height: auto;
  font-size: 16px;
}
.section-join .login-form .input-label > .label-text {
  display: inline-block;
  /* padding-left: 5px; */
  margin-bottom: 8px;
  font-weight: 600;
}
.section-join .login-form .input-label > input {
  width: 100%;
}
.section-join .login-form .input-label > .label-info {
  display: inline-block;
  margin-top: 8px;
  font-size: 13px;
  color: rgb(217, 100, 81);
  transition: 0.3s ease-in;
}

/** PROCESS.html **/

/** ATTENTION.html **/
.info-wrap-top {
  margin-bottom: 24px;
}
.info-wrap-top .text-attention {
  margin-left: 70px;
  color: rgb(217, 100, 81);
  font-size: 18px;
  font-weight: 600;
}

.attention-list {
  padding: 34px 34px 44px;
  background-color: #f2f5f8;
}
.attention-list .content-item {
  position: relative;
  padding-left: 40px;
  padding-top: 4px;
  margin-bottom: 24px;
  line-height: 1.6;
}
.attention-list .content-item:last-child {
  margin-bottom: 0;
}
.attention-list .content-item .item-icon {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-image: url("../img/icon/icon-attention.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.attention-list .content-item .item-subs > em {
  color: #666;
}

.info-wrap-bottom {
  margin-top: 44px;
}
.info-wrap-bottom > .input-label {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/** INPUTINFO.html **/
.input-wrap-content .content-title > h3 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 800;
  color: rgb(0, 55, 100);
}

.section-input-info .input-info-list {
  padding: 14px 34px 24px;
}
.section-input-info .input-info-item {
  margin-bottom: 24px;
  font-size: 0;
}
.section-input-info .input-info-item:last-child {
  margin-bottom: 0;
}
.section-input-info .input-info-item > div {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.section-input-info .input-info-item > .item-title {
  width: 25%;
  line-height: 44px;
}
.section-input-info .input-info-item > .input-wrap {
  width: 75%;
  /* font-size: 0; */
}

.section-input-info .input-info-item > .input-wrap > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.section-input-info .input-info-item > .input-wrap > .input-item-url {
  /* width: 80%; */
}
.section-input-info .input-info-item > .input-wrap > .input-item-url input {
  width: auto;
}
.section-input-info .input-info-item > .input-wrap > .input-item-url label {
  line-height: 44px;
}
.section-input-info .input-info-item > .input-wrap > .btn-wrap {
  /* width: 20%; */
}

/** FOOTER **/
.foot-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 15px;
  color: #666;
}
.foot-inner > h3 {
  width: 100px;
  margin-right: 34px;
}
.foot-inner > .contact-wrap > * {
  display: inline-block;
  margin-right: 14px;
}
.foot-inner > .contact-wrap > *:last-child {
  margin-right: 0;
}
.foot-inner > .contact-wrap > .contact-title {
  margin-right: 8px;
}
