@charset "utf-8";

@import url("./reset.css");
@import url("./font.css");

/* COMMON */
.blind {
  display: block;
  position: absolute;
  top: -99999px;
  left: 0;
}
.clearFix::after {
  content: "";
  display: block;
  clear: both;
}
.center {
  position: relative;
  width: 1024px;
  max-width: 1024px;
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

button {
  border: none;
}

.page-btn-wrap,
.login-btn-wrap,
.join-btn-wrap {
  margin: 40px 0 30px;
  text-align: center;
}
.btn-wrap > a,
.btn-wrap > button {
  display: inline-block;
  line-height: 2.9em;
  padding: 1px 2.2em 0;
  margin: 0 14px;
  background-color: rgb(0, 55, 100);
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.btn-wrap > .btn:hover,
.btn-wrap > button:hover {
  background-color: rgb(0, 40, 80);
}

.btn-wrap > button.btn-type02 {
  background-color: rgb(235, 242, 248);
  color: rgb(0, 55, 100);
}
.btn-wrap > button.btn-type02:hover {
  background-color: rgb(209, 225, 240);
}
.btn-wrap > button.btn-type02.btn-input-cancel {
  background-color: rgb(251, 238, 237);
  color: rgb(217, 100, 81);
}
.btn-wrap > button.btn-type02.btn-input-cancel:hover {
  background-color: rgb(242, 220, 218);
}

.input-wrap > label {
  display: block;
}
input[type="text"],
input[type="tel"],
input[type="password"] {
  border: none;
  background-color: #f2f5f8;
  line-height: 44px;
  font-size: 15px;
  vertical-align: top;
  text-indent: 15px;
}

select {
  padding: 12px 20px 12px 15px;
  line-height: 44px;
  background-color: #f2f5f8;
  border: none;
}

/** WRAP **/
#wrap {
  width: 100%;
}

/** HEADER **/
header {
  position: relative;
}
.header-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
h1.logo {
  width: 140px;
}

.gnb-user-area .gnb-user-box {
  display: inline-block;
  text-align: right;
  font-size: 15px;
}
.gnb-user-area.now-on .gnb-login-box {
  display: none;
}

.gnb-user-area .gnb-my-namebox {
  display: none;
}
.gnb-user-area.now-on .gnb-my-namebox {
  display: inline-block;
}

.gnb-user-area .gnb-user-box > p {
  display: inline-block;
}
.gnb-my-namebox > .my-name {
  margin-right: 20px;
}
.gnb-my-namebox > .my-name > span {
  display: inline-block;
  margin-right: 4px;
  font-weight: 600;
}
.gnb-login-box > .btn-login,
.gnb-my-namebox > .btn-logout {
  position: relative;
  font-weight: 600;
  color: #888;
}
.gnb-login-box > .btn-login:hover,
.gnb-my-namebox > .btn-logout:hover {
  color: #313131;
}

/** MAIN **/
#main {
  padding: 14px 14px 20px;
}
.section-page-top {
  margin-bottom: 34px;
}
h2.page-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.section-inner {
  padding: 0 14px;
  line-height: 1.4;
}

.page-btn-wrap {
  width: 100%;
}

/** index.html **/
.section-greeting {
  padding: 0 40px;
}
.section-greeting > .para-wrap-greeting {
  padding: 34px 34px 44px;
  margin-bottom: 20px;
  background-color: #f2f5f8;
}

.section-greeting .para-item {
  margin-bottom: 24px;
}
.section-greeting .para-item:last-child {
  margin-bottom: 0;
}

.info-organization-wrap {
  display: flex;
  justify-content: flex-end;
}
.info-organization-wrap > .info-wrap-inner {
  display: flex;
  flex-direction: column;
}
.info-organization-wrap .info-item {
  margin-bottom: 14px;
  text-align: left;
}
.info-organization-wrap .info-item:last-child {
  margin-bottom: 0;
}
.info-organization-wrap .info-item-title {
  margin-right: 6px;
}
.info-organization-wrap .info-item-logo {
  vertical-align: middle;
}
.info-organization-wrap .info-item-logo img {
  width: 120px;
}
.info-organization-wrap .info-item-name {
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
  color: #666;
}

/** login.html **/
.login-form fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form fieldset > * {
  width: 40%;
}
.login-form label {
  font-size: 0;
  height: 44px;
  margin-bottom: 20px;
}
.login-form label:last-child {
  margin-bottom: 0;
}
.login-form label > .input-icon {
  display: inline-block;
  width: 38px;
  height: inherit;
  margin-right: 12px;
  vertical-align: top;
  background-image: url("../img/icon/icon-user.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.login-form label > .input-icon.icon-hpnum {
  background-image: url("../img/icon/icon-hp.svg");
}
.login-form label > .input-icon.icon-pw {
  background-image: url("../img/icon/icon-lock.svg");
}

.login-form label > input {
  width: calc(100% - 50px);
  border: none;
  background-color: #f2f5f8;
  line-height: 44px;
  font-size: 15px;
  vertical-align: top;
  text-indent: 15px;
}

.login-option-wrap {
  margin-top: 14px;
  text-align: right;
}
.login-option-wrap .login-option {
  display: inline-block;
  position: relative;
  padding-left: 16px;
  margin-left: 15px;
  font-size: 14px;
  color: #888;
}
.login-option-wrap .login-option::before {
  content: "";
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
.login-option-wrap .login-option:first-child::before {
  display: none;
}

/** JOIN.html **/
.section-join .login-form .input-label {
  height: auto;
  font-size: 16px;
  margin-bottom: 20px;
}
.section-join .login-form .input-label > .label-text {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}
.section-join .login-form .input-label > input {
  width: 100%;
}
.section-join .login-form .input-label > .label-info {
  display: inline-block;
  margin-top: 8px;
  font-size: 13px;
  color: rgb(217, 100, 81);
  transition: 0.3s ease-in;
}

/** PROCESS.html **/
.info-wrap-top > .text-header {
  margin-left: 70px;
  font-size: 18px;
  font-weight: 600;
}
.step-list {
  padding: 34px 24px 44px;
  background-color: #f2f5f8;
}
.step-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.step-list > .content-item {
  position: relative;
  width: calc(50% - 15px);
  padding: 24px 20px 44px;
  background-color: #fff;
}
.step-list > .content-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon/icon-arrow-toRight_line.svg");
  opacity: 0.6;
}
.step-list > .content-item.step-01::after {
  right: 10px;
  bottom: 10px;
}
.step-list > .content-item.step-02::after {
  left: 10px;
  bottom: 10px;
  transform: rotate(135deg);
}
.step-list > .content-item.step-03::after {
  right: 10px;
  top: 10px;
}
.step-list > .content-item.step-04::after {
  display: none;
}

.step-list .item-step-num {
  display: inline-block;
  padding: 2px 10px;
  margin-right: 6px;
  margin-bottom: 6px;
  line-height: 22px;
  border-radius: 30px;
  background-color: rgb(0, 55, 100);
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}
.step-list .item-title {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 600;
}
.step-list .item-subs-wrap {
  padding-left: 24px;
}
.step-list .item-subs-wrap .item-subs {
  display: block;
  position: relative;
}
.step-list .item-subs-wrap .item-subs::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: -12px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #313131;
}
.step-list .item-subs-wrap .item-attention {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: rgb(217, 100, 81);
}

.info-wrap-bottom {
  text-align: center;
}

/** ATTENTION.html **/
.info-wrap-top {
  margin-bottom: 24px;
}
.info-wrap-top .text-attention {
  margin-left: 70px;
  color: rgb(217, 100, 81);
  font-size: 18px;
  font-weight: 600;
}

.attention-list {
  padding: 34px 34px 44px;
  background-color: #f2f5f8;
}
.attention-list .content-item {
  position: relative;
  padding-left: 40px;
  padding-top: 4px;
  margin-bottom: 24px;
  line-height: 1.6;
}
.attention-list .content-item:last-child {
  margin-bottom: 0;
}
.attention-list .content-item .item-icon {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-image: url("../img/icon/icon-attention.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.attention-list .content-item .item-subs {
  display: inline-block;
  margin-top: -2px;
}
.attention-list .content-item .item-subs > em {
  color: #666;
}

.info-wrap-bottom {
  margin-top: 44px;
}
.info-wrap-bottom > .input-label {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/** INPUTINFO.html **/
.section-input-info .input-wrap-content {
  margin-bottom: 34px;
}
.input-wrap-content .content-title {
  margin-bottom: 20px;
}
.input-wrap-content .content-title > h3 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 55, 100);
}

.section-input-info .content-box {
  padding: 0 14px;
}
.section-input-info .input-info-list {
  padding: 24px 74px 24px;
}
.section-input-info .input-info-list input {
  line-height: 36px;
  text-indent: 5px;
  width: auto;
  margin-top: 4px;
}
.section-input-info .input-info-item {
  padding-bottom: 24px;
  margin-bottom: 24px;
  font-size: 0;
}
.section-input-info .input-info-item:last-child {
  margin-bottom: 0;
}
.section-input-info .input-info-item > div {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.section-input-info .input-info-item > .item-input-box {
  width: 75%;
}
.section-input-info .input-info-item > .item-title {
  position: relative;
  width: calc(25% - 50px);
  padding-left: 20px;
  line-height: 40px;
  background-color: rgb(42, 92, 133);
  margin-right: 50px;
  border-radius: 30px;
  color: #fff;
}
.section-input-info .input-info-item > .item-title > .item-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/icon-arrow-toRight_fff.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

.section-input-info .input-info-item.item-cummunity > .item-title {
  cursor: pointer;
}
.section-input-info .input-info-item.item-cummunity > .item-title:hover {
  background-color: rgb(0, 55, 100);
}
.section-input-info .input-info-item.item-cummunity > .item-title > .item-icon {
  background-image: url("../img/icon/icon-closed_wbBase.svg");
  opacity: 0.8;
  cursor: pointer;
}
.section-input-info
  .input-info-item.item-cummunity
  > .item-title:hover
  > .item-icon {
  opacity: 1;
}
.section-input-info .input-info-item.item-cummunity > .item-title.now-on {
  background-color: rgb(0, 55, 100);
}
.section-input-info
  .input-info-item.item-cummunity
  > .item-title.now-on
  > .item-icon {
  transform: translateY(-50%) rotate(180deg);
  opacity: 1;
}
.section-input-info .input-info-item .input-wrap {
  display: block;
  margin-bottom: 24px;
  font-size: 16px;
}
.section-input-info .input-info-item .input-wrap:last-child {
  margin-bottom: 0;
}

.section-input-info .input-info-item .input-wrap > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.section-input-info .input-info-item .input-wrap > .input-item-url label {
  line-height: 44px;
}
.section-input-info .input-info-item .input-wrap > .input-item-name {
  margin-left: 14px;
}
.section-input-info .input-info-item .input-wrap > .input-item-name input {
  max-width: 160px;
}
.section-input-info
  .input-info-item
  .input-wrap
  > .input-item-name
  .input-item-title {
  margin-left: 8px;
}
.section-input-info .input-info-item .input-wrap > .input-item-name label {
  line-height: 44px;
}
.section-input-info .usr-community-content .input-info-item .btn-wrap {
  vertical-align: bottom;
}

.section-input-info .input-info-item .btn-wrap {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  height: 44px;
}
.section-input-info .input-info-item .btn-wrap > .btn-text {
  display: none;
  line-height: 44px;
  font-size: 15px;
}
.section-input-info .input-info-item .btn-wrap > .add-btn {
  width: 44px;
  height: 44px;
  background-image: url("../img/icon/icon-plus_nv_wh.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  text-indent: -99999px;
  opacity: 0.8;
  cursor: pointer;
  overflow: hidden;
}
.section-input-info .input-info-item .btn-wrap > .add-btn:hover {
  opacity: 1;
}
.section-input-info .input-info-item .input-wrap .input-item-title {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 15px;
  color: #666;
}
.section-input-info .input-info-item .input-wrap .input-attention {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: rgb(97, 188, 222);
}
.section-input-info
  .input-info-item.item-cummunity
  .input-wrap
  .input-attention {
  font-size: 15px;
  color: #313131;
}

/** INPUTCONTENTS page **/
.input-commu-box .input-info-table,
.list-commu-box .input-info-table {
  padding: 24px 74px 24px;
}
.input-commu-box .input-info-table:first-child {
  padding-top: 0;
}

.content-box.input-commu-box {
  display: none;
}
.content-box.input-commu-box.now-on {
  display: block;
}
.content-box.input-commu-box h4 {
  margin-bottom: 14px;
  font-weight: 600;
}
.content-box.input-commu-box h4.table-attention {
  margin-left: 25%;
}

.input-commu-box input {
  width: 80%;
  font-size: 15px;
}
.input-commu-box select {
  font-size: 15px;
}
.input-commu-box textarea {
  width: 100%;
}
.input-commu-box input[type="date"] {
  width: auto;
  line-height: 44px;
  padding: 0 24px 0 14px;
  border: none;
  background-color: #f2f5f8;
}
.input-commu-box select {
  margin-bottom: 14px;
}

.input-commu-box .input-commu-name .input-select-commu,
.input-commu-box .input-commu-name .input-text-commu {
  display: inline-block;
  vertical-align: top;
}
.input-commu-box .input-commu-name .input-text-commu {
  width: 300px;
  margin-left: 14px;
}

.input-info-table .table-content {
  width: 100%;
}
.input-info-table .table-content tbody th {
  width: 25%;
  padding-left: 14px;
  padding-right: 24px;
  text-align: right;
  vertical-align: top;
  line-height: 44px;
  font-size: 14px;
}
.input-info-table .table-content tbody th,
.input-info-table .table-content tbody td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-info-table .btn-wrap {
  text-align: right;
}
.input-info-table .btn-wrap > .btn {
  margin-right: 0;
}

.table-added-list {
  table-layout: fixed;
  width: 100%;
}
.table-added-list thead {
  background-color: #edeff1;
  font-size: 14px;
  color: #666;
  text-align: center;
}
.table-added-list thead th {
  height: 34px;
  vertical-align: middle;
  font-size: 14px;
}
.table-added-list tbody th,
.table-added-list tbody td,
.table-added-list thead th {
  height: 38px;
  vertical-align: middle;
  border: 1px solid #edeff1;
}
.table-added-list tbody th {
  /* width: 4%; */
  font-size: 13px;
}
.table-added-list tbody td {
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  color: #555;
}
.table-added-list tbody td:first-of-type {
  /* 사이트명 */
  text-align: center;
}
.table-added-list tbody td:nth-of-type(2),
.table-added-list thead th:nth-of-type(3) {
  /* 게시글URL */
}
.table-added-list tbody td:nth-of-type(3) {
  /* 작성자명 */
  text-align: center;
}
.table-added-list tbody td:nth-of-type(4) {
  /* 작성일 */
  text-align: center;
}
.table-added-list tbody td:nth-of-type(5) {
}
.table-added-list tbody td:nth-of-type(6) {
}

.added-post-modify .btn-modify {
  width: 24px;
  height: 24px;
  margin-left: 1px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/icon/icon-edit.svg");
  background-position: center;
  background-size: 14px;
  background-repeat: no-repeat;
  text-indent: -99999px;
  cursor: pointer;
  transition: 0.25s ease-in;
}
.added-post-modify:hover .btn-modify {
  background-image: url("../img/icon/icon-edit_rd.svg");
}

.input-info-table .pagination-list {
  margin-top: 24px;
  text-align: center;
}
.input-info-table .pagination-list > li {
  display: inline-block;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.input-info-table .pagination-list > li > button {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.input-info-table .pagination-list > li.page-arrow > button {
  width: 22px;
  height: 22px;
  text-indent: -99999px;
  background-image: url("../img/icon/icon-arrow_next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
}
.input-info-table .pagination-list > li.page-arrow.page-prev > button {
  transform: rotate(180deg);
}
.input-info-table .pagination-list > li.page-arrow.disable > button {
  cursor: auto;
  opacity: 0.1;
}

.input-info-table .pagination-list .page-count {
  position: relative;
  font-size: 14px;
  color: #aaa;
}
.input-info-table .pagination-list .page-count.now-on {
  font-weight: 600;
  color: #555;
}
.input-info-table .pagination-list .page-count.now-on::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 1px;
  background-color: #555;
}

/** SUBMIT page **/
.corpus-submit .info-wrap-top {
  padding: 34px 54px 44px;
  margin-bottom: 20px;
  background-color: #f2f5f8;
}
.corpus-submit .info-wrap-top > p {
  padding: 24px 0 24px;
  line-height: 1.8;
  font-size: 18px;
}
.corpus-submit .info-wrap-content {
  padding: 34px 0 24px;
}
.corpus-submit .submit-agreement-wrap {
  text-align: center;
}
.corpus-submit .submit-agreement-wrap .label-text {
  font-size: 18px;
}
.corpus-submit .submit-agreement-wrap .end-comment {
  margin-top: 14px;
  font-size: 14px;
  color: #d96451;
}

/** FOOTER **/
.foot-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 15px;
  color: #666;
}
.foot-inner > h3 {
  width: 100px;
  margin-right: 34px;
}
.foot-inner > .contact-wrap > * {
  display: inline-block;
  margin-right: 14px;
}
.foot-inner > .contact-wrap > *:last-child {
  margin-right: 0;
}
.foot-inner > .contact-wrap > .contact-title {
  margin-right: 8px;
}
