@charset "utf-8";

@import url("./reset.css");
@import url("./font.css");

/* COMMON */
.blind {
  display: block;
  position: absolute;
  top: -99999px;
  left: 0;
}
.clearFix::after {
  content: "";
  display: block;
  clear: both;
}
.center {
  position: relative;
  width: 100%;
  max-width: 1024px;
  /* min-width: ; */
  margin: 0 auto;
}
